[Unit]
Description=broken http server
After=network.target remote-fs.target nss-lookup.target

[Service]
User=bozo
Group=bozo
ExecStart=/opt/brokenhttpd/bozohttpd -L app /webroot/app.lua -bf -I 8080 -i '::' /webroot/public
KillMode=process

[Install]
WantedBy=multi-user.target

